#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=start
Name[en_US]=Sandy
Exec=/bin/bash -c "cd ~/sandy_deploy && make || read -n 1 -s -r -p 'Неудача. Проверьте интернет соединение, чтобы приложение обновилось.'"
Name=Sandy
Icon=start
